#btn-action{
    text-decoration: none;
    background-color:#52688F;
    padding: 4px 8px;
    border-radius: 8px;
    opacity: 0.7;
    color: black;
    line-height: normal;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 10px black;

}

#btn-action:hover {
    opacity: 1;
    color: white;
}